* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}

.newbtn {
  margin-top: 10px;
  text-align: center;
}

dialog[open] {
  margin: auto;
  width: 25rem;
  height: 25rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  background-color: palegoldenrod;
  border-radius: 5px;
  border: 3px solid black;
}

.newbtn > button {
  padding: 15px 25px;
  font-size: 20px;
  background-color: rgb(139, 255, 240);
  border-radius: 10px;
  border: 3px solid black;
}

.newbtn > button:hover {
  background-color: rgb(1, 218, 181);
}

.main-title {
  font-size: 2.5rem;
  margin-top: 1rem;
  text-align: center;
}

.dialog-container > dialog > form > div > input {
  font-size: 22px;
  padding: 5px;
}

.dialog-container > dialog > form > div > input:focus {
  outline: none;
}

.dialog-container > dialog > form > div {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.dialog-container > dialog > form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  margin-top: -15px;
}

#checkbx {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

input[type="checkbox"] {
  transform: scale(2);
}

.dialog-container > dialog > div > button {
  font-size: 25px;
}

.dialog-container .X {
  display: flex;
  justify-content: flex-end;
  margin-top: -25px;
  margin-right: -22px;
  font-size: 20px;
  border-radius: 10px;
}
.X > button {
  padding-left: 5px;
  padding-right: 5px;
}

.books-container {
  margin-top: 10px;
  width: 100rem;
  background-color: rgb(255, 226, 188);
  border: 4px solid black;
  border-radius: 10px;
}

.books-container > h1 {
  font-size: 1.5rem;
  margin-left: 30px;
  margin-top: 15px;
}

.cards-container {
  height: 100%;
  margin: 10px;
  border-radius: 10px;
  border: 4px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  min-height: 700px;
  background-color: blanchedalmond;
}

.card {
  margin: 10px;
  min-height: 250px;
  max-height: 280px;
  border: 4px solid rgb(218, 178, 0);
  background-color: rgb(255, 208, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  gap: 20px;
  padding: 10px;
}

.card .card-description {
  display: flex;
  flex-direction: column;
}

.card h1 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1.5rem;
}

.card h3,
.card h2 {
  font-size: 1.2rem;
}

.card .card-buttons > button {
  margin: 5px 0px;
  font-size: 17px;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(73, 209, 55);
}
